<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryptar Baneco</title>
</head>
<body>
    <form action="" method="get"> 
        <label for="Texto">Texto</lable>
        <input type="text" name="texto" value="1234">
        <label for="aesKey">aesKey</lable>
        <input type="text" name="aesKey" value="DB6DA4629DA746E6B474C6EA0280DA29">
        <button type="submit" name="button" value="Enviar">Enviar</button>

    </form>
</body>
</html>
